<!-- THIS NEEDS TO BE UPDATED! -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>UMD Dining Food Reviews</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<h1 id="mainTitle">UMD Dining Hall Reviews</h1>
<h2 id="subTitle">Brought to you by Tim's Tastings</h2>
<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="/random">Random Food</a>
    <a href="/most">Most-Reviewed Food</a>
    <a href="/least">Least-Reviewed Food</a>
    <a href="/best">Best-Reviewed Food</a>
    <a href="/worst">Worst-Reviewed Food</a>
    <a href="/create">Write a review!</a>
  </div>
</div>


<body>
  
 
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  
 
  {{{body}}}
</body> 


</html>
