<html>
    <body>
        <title>About</title>
        <p>This website was created by Justin Shaw, Eli Schrelling, and Matt Graber.
             Its purpose is to serve as a hub for people to promote, learn about, and discuss activites and groups that often hold activities.</p>
    </body>
</html>