<html>
    <body>
        <title>About</title>
        <div class="about">
        	<p>This website was created by Justin Shaw, Elijah Schwelling, and Matt Graber.
             Its purpose is to serve as a hub for people to promote, learn about, and discuss activites and groups that often hold activities.</p>
         </div>
    </body>
</html>