<h1 id="createTitle">Create New Activity</h1>
<article class="create">
    <form method="POST" action="/add/activity">
        <div class="input-field">
            <label>What is your activity?</label>
            <input type="text" name="name" size="50" placeholder="Write your activity here">
        </div>
         <div class="input-field">
            <label>Description of activity:</label>
            <input type="text" name="description" size="50" placeholder="Write your description here">
        </div>
        <div class="input-field">
            <label>Where:</label>
            <input type="text" name="where" size="50" placeholder="Where is your event?">
        </div>
        <div class="input-field">
            <label>When:</label>
            <textarea type="text" name="when" rows="10" placeholder="When is your event?"></textarea>
        </div>
        <div class="input-field">
            <label>Author:</label>
            <textarea type="text" name="author" rows="10" placeholder="Who are you?"></textarea>
        </div>
        <button type="submit">Submit your activity!</button>
    </form>
</article>
