/* This should probably be changed... */
body{
    background-image: url("https://i.ytimg.com/vi/HGaMMPls-Rs/maxresdefault.jpg");
}

.food{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 126, 0.75);
    margin: 0 auto;
}

.food_name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
}

.rating{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.id{
    font-style: italic;
}

#search_field{
    margin: 0 auto;
    text-align: center;
}

.underline_text{
    text-decoration: underline;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 126, .75);
    text-align: center;
    font-size: 20pt;
}

.nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
    color:white;
    text-align: center;
}

a:visited{
    color:white;
}
.create{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 126, .75);  
    margin: 0 auto;
    text-align: center;

}

#createTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color:red;
    text-align: center;
}

#mainTitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color:red;
    text-align: center;
}

#subTitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 10pt;
    background-color:red;
    text-align: center;
}