body {
    /*background-color: white;*/
    background: #000000;
    color: #ffffff;
    margin: 0;
    min-height: 100%;
    height: 100%;
    position: relative;
}

.food {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.food_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

.rating {
    font-family: Arial, Helvetica, sans-serif;
}

.id {
    font-style: italic;
}

#search_field {
    display: block;
    margin: auto;
    border: 2px solid #0087FF;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 20%;
}

.underline_text {
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(255, 255, 126, .75);
        /*background-color: linear-gradient(#00FFE0, #0087FF);*/
    text-align: center;
    font-size: 20pt;
}

.nav {
    font-family: Arial, Helvetica, sans-serif; 
    color:white;
/*    background-color: linear-gradient(#00FFE0, #0087FF);*/
    text-align: center;
}

a:link, a:visited {
    margin-top: 5px;
    border-radius: 5px;
    /*background-color: rgb(255, 0, 0);*/
    background-image: linear-gradient(#00FFE0, #0087FF);
    color: black;
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    /*background-color: rgb(255, 107, 107);*/
    background-image: linear-gradient(#6800FF, #FF00F3);
    color: white;
}

.logo {
    padding-left: 25px;
    padding-right: 25px;
}
.create {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0 auto;
    text-align: center;
}

#createTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#main_title {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
}

#subTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10pt;
    text-align: center;
}

#recent_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
    text-align: center;
}

.activity {
    padding-top: 10px;
    padding-bottom: 10px;
}

.group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.group_name {
    font-size: 20px;
    color: gray;
}

.author {
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.description {
    font-size: 15px;
    color: rgb(119, 119, 119);
    /*border: 2px solid #00FFE0;*/
}

.where {
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.when {
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.member_count {
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.group_contact {
    font-size: 15px;
    color: rgb(119, 119, 119);
}

 form {
     background: #000;
     padding: 3px;
     /*position: fixed;*/
     bottom: 0;
     width: 100%;
 }
 
 /*
 Input box adjustments
 */
 form input {
     border: 2px solid #00FFE0;
     padding: 10px;
     width: 89%;
     /*margin-right: .5%;*/
     display: inline-block;
     border-radius: 25px;
 }

 .comment_adder {
    border: 2px solid #0087FF;
     /*padding: 10px;*/
     /*width: 89%;*/
     /*margin-right: .5%;*/
     display: inline-block;
     border-radius: 25px;
    margin-left: 45%;
    margin-right: 45%;
    /*width: 50%;*/
 }

 .input_number {
    border-radius: 25px;
    border: 2px solid #00FFE0;
 }

 .input_text1 {
    border-radius: 25px;
    border: 2px solid #00FFE0;
 }

/* .input_text1:focus, .input_text1:active {
    border: 2px solid #FFE000;
 }*/

 .input_text2 {
    border-radius: 25px;
    border: 2px solid #00FFE0;
 }

 .submit_comment {
    /*width: 9%;*/
     /*background: red;*/
    background-image: linear-gradient(#00FFE0, #0087FF);
     border: 2px solid white;
     padding: 10px;
     border-radius: 25px;
 }

 .submit_comment:hover, .submit_comment:active {
    color: white;
    background-image: linear-gradient(#6800FF, #FF00F3);
 }

 input[type=text]:focus {
    border: 2x solid #FFE000;
 }

 /*
 Button adjustments
 */
 form button {
     width: 9%;
     /*background: red;*/
    background-image: linear-gradient(#00FFE0, #0087FF);
     border: 2px solid white;
     padding: 10px;
     border-radius: 25px;
 }

 form button:active, form button:hover {
    color: white;
    background-image: linear-gradient(#6800FF, #FF00F3);
 }

 .hub {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 6vw;
  /*text-align: center;*/
  /*position: relative;*/
/*  top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*float:left;*/
}

/* * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }*/

 h1 {
    background: #1F1F21;
 }

.hub span:nth-child(2) {
  /*background: red;*/
  background-image: linear-gradient(#00FFE0, #0087FF);
  color: #000000;
  border-radius: 1vw;
  padding: 0 1vw 1vw 1vw;
  display: inline-block;
}

 #messages {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 #messages li {
     padding: 5px 10px;
     background: #0087FF;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
 }
 
 #messages li:nth-child(odd) {
     background: #00FFE0;
     color: black;
 }

 #box {
    position: fixed;
 }

 .activities {
    /*background: #1F1F21;*/
    background-image: linear-gradient(#00FFE0, #0087FF);
    padding: 20px;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
 }

 .groups {
    background-image: linear-gradient(#00FFE0, #0087FF);
    padding: 20px;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
 }

 .group_name {
    font-weight: 900;
    font-size: 4vw;
    color: black;
 }

 .activity_name {
    font-weight: 900;
    font-size: 4vw;
    color: black;
    display: inline;
 }

 .about {
    background-image: linear-gradient(#00FFE0, #0087FF);
    padding: 50px;
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color: black;
 }

/* .input-field {
    border-radius: 25px;
    border: 2px solid white;
 }*/